* {
  font-family: sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th/* , td */ {
  border: 1px solid #ddd;
  padding: 8px;
  /* background: #eee; */
  background: #42a5f5;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  /* Змінюємо розташування колонок на маленьких екранах */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    text-align: left;
  }

  /* Сховуємо значки виконання, видалення та редагування на маленьких екранах */
  td:nth-child(8),
  td:nth-child(9),
  td:nth-child(10) {
    display: none;
  }

  /* Змінюємо розмір шрифту на маленьких екранах */
  td,
  th {
    font-size: 12px;
  }

  /* Використовуємо flexbox для розташування елементів в ряд */
  tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  /* Змінюємо розташування значка виконання на маленьких екранах */
  tbody tr td:nth-child(7) {
    order: 1;
    width: 100%;
    margin-bottom: 10px;
  }

  /* Змінюємо розташування значок видалення та редагування на маленьких екранах */
  tbody tr td:nth-child(11) {
    order: 2;
  }

  tbody tr td:nth-child(12) {
    order: 3;
  }
}
/*Прокрутка таблиці*/
.scroll-table {
  max-height: 500px; /* Максимальна висота контейнера */
  max-width: 95%;
  margin: 0 auto; /* Центруємо контейнер */
  overflow-y: auto; /* Додаємо прокрутку відносно осі Y */
  background-color: rgba(255, 255, 255, 0.7); /* Прозорий фон контейнера */
  border-radius: 5px; /* Закруглюємо кути контейнера */
  padding: 10px; /* Додаємо відступи від контейнера */
}

.scroll-table table {
  margin: 0 auto; /* Центруємо таблицю */
}
table td:nth-child(6) {
  width: 200px;
}
/* Не змінюємо ширину колонки "Опис завдання" на малих екранах */
@media screen and (max-width: 768px) {
  td:nth-child(6) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/*Input area*/
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-field {
  width: 23%;
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
.input-field input[type="date"] {
  width: 195px;
  height: 35px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
#btn2 {
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  background-color: #42a5f5;
  color: white;
  font-size: 1rem;
  border-radius: 15px;
}
#btn_find {
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  background-color: #42a5f5;
  color: white;
  font-size: 1rem;
  border-radius: 15px;
}

/*Кнопки в  таблиці*/
button {
  font-size: 15px;
  position: relative;
  margin: auto;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.95);
}

button span {
  color: #464646;
}

button .border {
  position: absolute;
  border: 0.15em solid #fff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
}

button:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
}

.full-rounded {
  border-radius: 2em;
}

/*add task form*/
.container_task {
  display: block;
  width: 1400px;
  height: 700px;
}
/*Modal form*/
/* Стиль модального вікна */
.modal {
  display: none; /* Приховуємо модальне вікно за замовчуванням */
  position: fixed; /* Фіксуємо модальне вікно на екрані */
  z-index: 1; /* Робимо модальне вікно поверх інших елементів */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Дозволяємо прокрутку, якщо контент занадто великий */
  background-color: rgba(0, 0, 0, 0.4); /* Створюємо півпрозорий фон */
}

/* Стиль модального вікна (вміст) */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% відступу від верхньої частини екрана та центруємо вікно */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ширина вікна */
}

/* Стиль для кнопки закриття модального вікна */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Стиль для кнопки закриття модального вікна при наведенні */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
